* {
  box-sizing: border-box;
}

.back-button {
  margin-top: 50px;
}

body {
  align-items: center;
  background: #500000;
  background-size: 400% 400%;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  text-align: center;
}

.card-content h2 {
  line-height: 1.25em;
  margin: 0 15px 0.3em;
}

.category-button, .filters button {
  background: white;
  border: none;
  border-radius: 16px;
  color: #500000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 12px;
  min-width: 220px;
  overflow: hidden;
  padding: 18px 40px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.desc, .tag {
  display: block;
  padding: 3px 9px;
  border-radius: 10px;
  font-size: 12px;
  opacity: .8;
  margin-bottom: 3px;
}

.filters {
  background: hsla(0,0%,0%,0.5);
  border: 2px solid white;
  display: inline-block;
  text-align: center;
  width: 95%;
}


.filters button.active {
  font-weight: 800;
}

.filters h2 {
  font-size: 1em;
  margin: 10px 0 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  line-height: 2em;
}

header img {
  height: 5em;
  margin: 0 10px;
  object-fit: fill;
}

h1 {
  color: white;
  display: inline;
  font-size: 3rem;
  margin-bottom: 50px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

h3 {
  margin: 0;
}

li {
  padding: 0 10px;
  text-align: left;
}

ol {
  margin: 0 0 1em;
}

.recipe-card {
  background: white;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 14px;
  color: #500000;
  display: block;
  margin: 0 0 2em;
  overflow: hidden;
  text-decoration: none;
  transition: .3s;
  width: 100%;
}

.recipe-controls {
  width: 100%;
}

.recipe-grid {
  column-count: 3;
  column-gap: 2em;
  max-width: 1100px;
  padding: 20px;
  width: 100%
}

.recipe-card:hover {
  transform: translateY(-4px) scale(1.02);
}

.recipe-card img {
  width: 100%;
  height: 170px !important;
  object-fit: cover;
}

#search {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.steps {
  display: flex;
  margin: 0 1em 1em;
}

.subtitle {
  opacity: .8;
  margin: -10px 5% 25px;
}

@media (max-width: 600px) {
  
  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .category-button, .lang-button, .music-button, .prod-button, .sub-button {
    font-size: 1.2rem;
    min-width: 160px;
    padding: 14px 30px;
  }

  .recipe-grid {
    column-count: 1;
    column-gap: 1em;
    line-height: 1.5em;
  }

  .recipe-grid h2 {
    margin: 0.5em 0 0;
  }

  .recipe-grid span {
    line-height: 1em;
  }
}
